body {
  font-family: sans-serif;
  color: #333;
  padding-left: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.login {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.login fieldset {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  margin: 0;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.login input {
  border: 1px solid #444;
  border-radius: 4px 0 0 4px;
  box-sizing: content-box;
  color: #444;
  font-size: 18px;
  height: 45px;
  padding: 0 10px;
}

/* ::-moz-placeholder doesn't seem to let us indent the placeholder text */
.login ::-webkit-input-placeholder {
  text-indent: 3px;
}

.login input:focus {
  /* outline: unset; */
}

.login button {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 0 4px 4px 0;
  box-sizing: content-box;
  color: #fff;
  font-size: 18px;
  height: 45px;
  margin-left: -1px;
  padding: 0 10px;
}

.login p {
  font-size: 36px;
  color: #445;
  margin: 0 0 20px 0;
}

.cards {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  display: inline-block;
}

.cards li {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.card {
  height: 200px;
  width: 150px;
  border: 2px solid #2e6da4;
  border-radius: 10px;
  font-size: 42px;
  background-color: #fff;
  position: relative;
}

.card:focus {
  outline: unset;
  background-color: #2e6da4;
  color: #fff;
}

.card.active {
  background-color: #2e6da4;
  color: #fff;
}

.card::before {
  content: "♠";
  font-size: 24px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.card::after {
  content: "♠";
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 24px;
}

.players {
  display: inline-block;
  vertical-align: top;
}

.players ul {
  padding-left: 0;
  margin: 0;
  line-height: 64px;
  font-size: 32px;
  list-style-type: none;
}

.player {
  border-bottom: 1px solid #ddd;
}

.player:first-of-type {
  border-top: 1px solid #ddd;
}

.name {
  display: inline-block;
  width: 200px;
}

.estimate {
  display: inline-block;
  width: 50px;
}

.reset {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  height: 45px;
  padding: 0 10px;
  margin-top: 20px;
}
